/*======== global scss =========*/
.ms-n3 {
    left: -16px;
}

a.btn-outline-primary:hover,
a.btn-outline-primary:active,
a.btn-outline-primary:focus,
a.btn-outline-primary:visited {
    background-color: $white !important;
    color: $secondary-color;
}

a.btn-outline-primary:active,
a.btn-outline-primary:focus,
a.btn-link:active,
a.btn-link:focus {
    box-shadow: 0 0 0 0.25rem $shadow-color;
}

a.btn-warning:hover,
a.btn-warning:focus {
    background-color: $btn-bg-hover-color !important;
    border-color: $btn-bg-hover-color;
    color: $secondary-color;
}

/*======== navbar scss ========*/
header {
    ul {
        li {
            .nav-link {
                color: $primary-color;
            }

            .nav-link:hover {
                color: $warning-color;
            }
        }
    }
}

/*======= design tools section scss =======*/
.bg-design-tools {
    background-image: url(/assets/images/bg-shape.png);
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: center;
    background-size: contain;
}

/*======= contact section scss =======*/

.bg-contact-section {
    background-image: url(/assets/images/oval.png);
    background-repeat: no-repeat;
    background-position: top;
    background-position-x: center;
}

/*======= resources section scss =======*/
#resources {
    div {
        p.card-text {
            a {
                strong:hover {
                    color: $warning-color;
                }
            }
        }
    }
}

/*======= footer scss =======*/
footer {
    ul.list-unstyled {
        li {
            a:hover {
                color: $warning-color !important;
            }
        }
    }
    input[type="tel"]::placeholder {
        color: $info-color !important;

    }
}