/*=== color variables ===*/
$primary-color: #212832;
$secondary-color: #544837;
$success-color: #198754;
$info-color: #567592;
$warning-color: #f90;
$danger-color: #dc3545;
$light-color: #f8f9fa;
$dark-color: #2f281e;
$shadow-color: #ff990040;
$btn-bg-hover-color: #d98200;

/*=== font variables ===*/
$font-poppins:"Poppins", sans-serif;

